
{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto:100,300,400,500,700,900" rel="stylesheet" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Fundación-“Obrando en ti”</title>            
        <link href="{% static '/css/normalize.css' %}" rel="stylesheet" />
        <link href="{% static '/css/reset.css' %}" rel="stylesheet" />
        <link href="{% static '/css/cabecera.css' %}" rel="stylesheet" />
        
        <link rel="stylesheet" href="{% static '/css/menu-item/cabecera.css' %}"/>
        <link rel="stylesheet" href="{% static '/css/menu-item/menu__item.css' %}"/>
        <link rel="stylesheet" href="{% static '/css/menu-item/menu__link.css' %}"/>
        <link rel="stylesheet" href="{% static '/css/menu-item/menu__lista.css' %}"/>
        <link rel="stylesheet" href="{% static '/css/banner/banner.css' %}"/>
        <link rel="stylesheet" href="{% static '/css/banner/banner__imagen.css' %}"/>
        <link rel="stylesheet" href="{% static '/css/banner/banner__titulo.css' %}"/>
        <link rel="stylesheet" href="{% static '/css/sobre/sobre.css' %}"/>
        <link rel="stylesheet" href="{% static '/css/sobre/sobre__descrpcion.css' %}"/>
        <link rel="stylesheet" href="{% static '/css/sobre/sobre__titulo.css' %}"/>
        <link rel="stylesheet" href="{% static '/css/recetas.css' %}"/>
        <link rel="stylesheet" href="{% static '/css//recetas/receta__titulo.css' %}"/>
        <link rel="stylesheet" href="{% static '/css//recetas/recetas__contenido.css' %}"/>
        <link rel="stylesheet" href="{% static '/css//recetas/recetas__boton.css' %}"/>
        <link rel="stylesheet" href="{% static '/css//recetas/recetas__descripcion.css' %}"/>
        <link rel="stylesheet" href="{% static '/css//recetas/recetas__imagen.css' %}"/>
        <link rel="stylesheet" href="{% static '/css//recetas/receta.css' %}"/>
        <link rel="stylesheet" href="{% static '/css//quienesSomos/quinesSomos.css' %}"/>
        <link rel="stylesheet" href="{% static '/css//quienesSomos/quienesSomos__titulos.css' %}"/>
        <link rel="stylesheet" href="{% static '/css//quienesSomos/quinesSomos__descripcion.css' %}"/>
        <link rel="stylesheet" href="{% static '/css//personas/persona__funcion.css' %}"/>
        <link rel="stylesheet" href="{% static '/css/personas.css' %}"/>
        <link rel="stylesheet" href="{% static '/css/personas/persona__imagen.css' %}">
        <link rel="stylesheet" href="{% static '/css//personas/persona__nombre.css' %}"/>
        <link rel="stylesheet" href="{% static '/css//pie-de-pagina.css' %}"/>
        <link rel="stylesheet" href="{% static '/css/logo.css' %}"/>
        <link rel="stylesheet" href="{% static '/css/post/post.css' %}"/>

    </head>
    <body>
        <header class="cabecera">
            <img class="logo" src="./static/img/Logo (1).jpg" alt="logo">
            <nav class="menu">
                <ul class="menu__lista">
                    <li class="menu__item"><a class="menu__link activo"  href="inicio.html#sobre">Inicio</a></li>
                    <li class="menu__item"><a class="menu__link" href="inicio.html#quienes-somos">Quienes Somos</a></li>
                    <li class="menu__item"><a class="menu__link" href="inicio.html#contacto">Contacto</a></li>
                    <li class="menu__item"><a class="menu__link" href="/login.html">Login</a></li>
                    <li class="menu__item"><a class="menu__link" href="/registro.html">Registrate</a></li>
                    <li class="menu__item"><a class="menu__link" href="/crear_post.html">Nuevo Post</a></li>
                </li>
                </ul>
            </nav>
        </header>
        <section class="banner">
            <div class="banner__imagen"></div>
            <h2 class="banner__titulo">Fundación “Obrando en ti”</h2>
            
        </section>
        <section  id= "sobre"class="sobre">
            <h2 class="sobre__titulo">Nuestra meta es ayudar a personas con problemas habitacionales mediante la
                construcción de casas</h2>
            <p class="sobre__descripcion">Alcance: Provincial</p>
        </section>
        <section class="post">
            <div class="div_post">
                <h1>Post 1</h1>
                <p>Coloque su nuevo post aquí</p>
                <div class="vectores">
                    <a href>
                        <img class="modificar" src="../static/img/lapiz.png" alt="lapiz">
                        <img class="modificar" src="../static/img/eliminar.png" alt="tacho">
                    </a>
                </div>
            </div>
            <div class="div_post" >
                <h1>Post 2</h1>
                <p>Coloque su nuevo post aquí</p>
                <div class="vectores">
                    <a href>
                        <img class="modificar" src="../static/img/lapiz.png" alt="lapiz">
                        <img class="modificar" src="../static/img/eliminar.png" alt="tacho">
                    </a>
                </div>
            </div>
            <div class="div_post" >
                <h1>Post 3</h1>
                <p>Coloque su nuevo post aquí</p>
                <div class="vectores">
                    <a href>
                        <img class="modificar" src="../static/img/lapiz.png" alt="lapiz">
                        <img class="modificar" src="../static/img/eliminar.png" alt="tacho">
                    </a>
                </div>
            </div>

        </section>
        
    <section id= "quienes-somos" class="quienes-somos">
        <h3 ide="quien_somos" class="quienes-somos__titulo">Quien Somos</h3>
        <p class="quienes-somos__descripcion">Conozca la comunidad por detrás de la iniciativa</p>
        <div class="personas">
            <div class="persona">
                <span class="persona__nombre">Romero Norma</span>
                <span class="persona__funcion">Presidente</span>
            </div>
            <div class="persona">
                <span class="persona__nombre">Salina Maira</span>
                <span class="persona__funcion">Secretaria</span>
            </div>
            <div class="persona">
                <span class="persona__nombre">Godoy Esteban</span>
                <span class="persona__funcion">Tesorero</span>
            </div>
        </div>
    </section>
    </body>
    
    <footer id="contacto" class="pie-de-pagina">
            <img class="logo" src="./static/img/Logo (1).jpg" alt="logo">
            
            <h3> <a class="contacto-tel" href="tel:+3624371975">Contactos: 3624371975 </a></h3>
            <h3> <a class="contacto-email" href="mailto:fundacionobrandoenti@hotmail.com">fundacionobrandoenti@hotmail.com</a> </h3>
    </footer>
   
    
</html>
