{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto:100,300,400,500,700,900" rel="stylesheet" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Fundación-“Obrando en ti”</title>
        <link href="{% static '/css/normalize.css' %}" rel="stylesheet" />
        <link href="{% static '/css/reset.css' %}" rel="stylesheet" />
        <link href="{% static '/css/cabecera.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="{% static '/css//login/login_input_titulo.css' %}"/>
        <link rel="stylesheet" href="{% static '/css//login/login_inputs.css' %}"/>
        <link rel="stylesheet" href="{% static '/css/menu-item/cabecera.css' %}"/>
        <link rel="stylesheet" href="{% static '/css/menu-item/menu__item.css' %}"/>
        <link rel="stylesheet" href="{% static '/css/menu-item/menu__link.css' %}"/>
        <link rel="stylesheet" href="{% static '/css/menu-item/menu__lista.css' %}"/>
        <link rel="stylesheet" href="{% static '/css/logo.css' %}"/>

    </head>
    <body>
        <header class="cabecera">
            <img class="logo" src="./static/img/Logo (1).jpg" alt="logo">
            <nav class="menu">
                <ul class="menu__lista">
                    
                    <li class="menu__item"><a class="menu__link" href="./inicio.html">Volver</a> 
                    
                </li>
                </ul>
            </nav>
        </header><section class="iniciar__sesion">
    <div class="iniciar__sesion__header">
        <h3 class="iniciar__sesion__titulo">Registro de usuario</h3>
    </div>
    <form id="form">
    <div class="iniciar__sesion__inputs">
        <input class="iniciar__sesion__email" type="user" placeholder="Escriba Su Nombre de Usuario" required >
        <input class="iniciar__sesion__contraseña" type="password" placeholder="Escriba Su Contraseña" required pattern="^(?=.*[a-z])(?=.*[0-9]).{1,12}$" title="Al menos 1 caracteres, máximo 12, debe contener una letra minúscula, una letra mayúscula, un número y no puede contener caracteres especiales.">
        <button class="iniciar__sesion__btn">Registrarse</button></a>
    </div>
    </form>
    </section>
    </body>
</html>