
.post{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}
.div_post{
    padding: 10px 25px 10px;
    background-color: white;
    margin-left: 20px;
    box-shadow: 2px 2px 5px #999;
}
.modificar{
    width: 20px;
    height: 20px;
    margin: 4px;
}

.vectores{
    display: flex;
    top: 20px;
    left: 80px;
    
}
.vectores:hover{
    display: absolute;
    top: 20px;
    left: 80px;
}
@media screen and (min-width:0){
    .div_post{
     margin-bottom: 15px;
    }
    .div_post:nth-child(5){
     display: none;
    }
 
   
 }
 @media screen and (min-width:768px){
    .div_post{
     margin-bottom: 10px;
    }
    .div_post:nth-child(5){
     display: none;
    }
 
 }
 @media screen and (min-width:922px){
     .div_post{
         margin-bottom: 0px;
     }
     .div_post:nth-child(5){
        display: block;
        }
  
        
     
 }
 